/**
 * 	Images that are going to be renderd to PDF .
 */

img.img-for-pdf
{
	max-width:100% ;
	display:block ;
	margin:0 auto;
}

.useranme{
	margin:0 auto;
	font-family: "arial";
	font-size: 30px;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.margin{
	margin-left: 10px;
	padding-bottom: 3px;
}

.cerere-print-page_2 h4 blockquote
{
	font-size:15px !important;
}

.cerere-print-page_2 li
{
	font-size:9px ;
}

.cerere-print-page_1
{
	font-size:11px ;
}
